{% extends "base.html" %}

{% block title %}FAQ{% endblock %}

<main>
{% block content %}
<!-- faq -->
<div class="bloc bgc-4279 tc-502 l-bloc" id="faq">
	<div class="container bloc-xl-lg bloc-md-sm bloc-lg-md bloc-md">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h2 class="text-start page-title tc-458 mb-4">
					Frequently asked questions
				</h2>
				<p class="text-start sub-heading mb-4">
					If you have any other questions you want to ask, please <a class="ltc-7096" href="./contact_page/">get in touch</a>.
				</p>
			</div>
			<div class="col-lg-4 text-lg-start col-md-11">
				<h4 class="text-start tc-458 mb-3">
					How do I use your product?
				</h4>
				<p class="mg-lg text-start">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
				</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h4 class="text-start tc-458 mb-3">
					How do I get in touch?
				</h4>
				<p class="mg-lg text-start">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.<br>
				</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h4 class="text-start tc-458 mb-3">
					How long is the trial?<br>
				</h4>
				<p class="mg-lg text-start">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.<br>
				</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h4 class="text-start tc-458 mb-3">
					How do I get setup?
				</h4>
				<p class="mg-lg text-start">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
				</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h4 class="text-start tc-458 mb-3">
					Can I share my account?
				</h4>
				<p class="mg-lg text-start">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
				</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h4 class="text-start tc-458 mb-3">
					Do you offer a subscription?
				</h4>
				<p class="mg-lg text-start">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
				</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h4 class="text-start tc-458 mb-3">
					Do you offer student discount?
				</h4>
				<p class="mg-lg text-start">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
				</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h4 class="text-start tc-458 mb-3">
					How do I return an item?
				</h4>
				<p class="mg-lg text-start">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
				</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<h4 class="text-start tc-458 mb-3">
					Do you offer refunds?
				</h4>
				<p class="mg-lg text-start">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- faq END -->
{% endblock %}
</main>

<!-- call-to -->
<div class="bloc tc-426 none bgc-3202 l-bloc" id="call-to">
	<div class="container bloc-xl-lg bloc-md-sm bloc-lg-md bloc-md">
		<div class="row">
			<div class="col">
				<div class="cta-card primary-gradient-bg custom-shadow">
					<div class="row g-0">
						<div class="col-lg-5 col-md-12 text-center text-lg-start feature-col">
							<h2 class="feature-heading tc-4279 mt-3 mt-md-0 mb-4">
								Call-to-Action Title
							</h2>
							<p class="text-md-center text-center float-lg-none text-lg-start sub-heading tc-426">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis.
							</p><a href="./pricing_page/" class="btn white-btn btn-lg float-lg-none btn-c-4279">Get Started</a>
						</div>
						<div class="col-md-12 offset-lg-0 col-lg-7 d-sm-block d-none">
							<picture><source type="image/webp" srcset="../img/lazyload-ph.png" data-srcset="../img/app-screenshot-hero.webp"><img src="../img/lazyload-ph.png" data-src="../img/app-screenshot-hero.jpg" class="img-fluid float-lg-none cta-card-img lazyload" alt="App Screenshot" width="595" height="351"></picture>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- call-to END -->

<!-- ScrollToTop Button -->
<button aria-label="Scroll to top button" class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/></svg></button>
<!-- ScrollToTop Button END-->
</div>
<!-- Main container END -->
    

<!-- Additional JS -->
{% block scripts %}
{{ super() }}
<!-- Additional page-specific scripts -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Инициализация анимаций
        new WOW().init();
    });
</script>
{% endblock %}
</body>
</html>
