{% extends "base.html" %}

{% block title %}Pricing{% endblock %}
<main>
{% block content %}
<!-- download -->
<div class="bloc bgc-4279 l-bloc" id="download">
	<div class="container bloc-md bloc-lg-md bloc-lg-lg">
		<div class="row">
			<div class="text-center text-md-start col-lg-8 offset-lg-2 text-lg-start">
				<h2 class="page-title text-center tc-458 mb-4">
					Pricing
				</h2>
				<p class="sub-heading text-center mb-4">
					We offer three different packages so you can pick the one that’s right for you.&nbsp;It doesn’t matter what size your company is, we got you covered.<br>
				</p>
			</div>
			<div class="text-center text-md-start offset-lg-0 col-lg-4 align-self-center col order-md-1 order-lg-0">
				<div class="price-card text-lg-start">
					<p class="text-start page-title text-lg-start tc-458 mb-4">
						$9
					</p>
					<h3 class="text-start text-lg-start tc-458 mb-3">
						Starter
					</h3>
					<p class="text-start pricing-info">
						Good for anyone who is self-employed and just getting started.<br>
					</p><a href="../" class="btn btn-lg w-100 btn-c-7096">Get Started</a>
					<ul class="list-unstyled list-sp-md mt-5">
						<li>
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon.svg') }}" class="img-fluid float-lg-none price-list-icon dark-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="price-list-item">
								Some Feature Information
							</p>
						</li>
						<li>
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon.svg') }}" class="img-fluid float-lg-none price-list-icon dark-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="price-list-item">
								Some Feature Information
							</p>
						</li>
						<li>
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon.svg') }}" class="img-fluid float-lg-none price-list-icon dark-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="price-list-item">
								Some Feature Information
							</p>
						</li>
						<li>
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon.svg') }}" class="img-fluid float-lg-none price-list-icon dark-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="price-list-item">
								Some Feature Information
							</p>
						</li>
						<li>
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon.svg') }}" class="img-fluid float-lg-none price-list-icon dark-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="price-list-item">
								Some Feature Information
							</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="text-center text-md-start offset-lg-0 col-lg-4 align-self-center col-md-12 order-md-0">
				<div class="primary-gradient-bg price-card text-lg-start">
					<p class="text-start page-title text-lg-start tc-4279 mb-4">
						$15
					</p>
					<h3 class="text-start text-lg-start tc-4279 mb-3">
						Small business
					</h3>
					<p class="text-start pricing-info tc-426">
						Perfect for small / medium sized teams and businesses.<br>
					</p><a href="../" class="btn btn-lg w-100 white-btn btn-c-4279">Get Started</a>
					<ul class="list-unstyled list-sp-md mt-5">
						<li>
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon-light.svg') }}" class="img-fluid float-lg-none price-list-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="price-list-item tc-4279">
								Some Feature Information
							</p>
						</li>
						<li>
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon-light.svg') }}" class="img-fluid float-lg-none price-list-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="tc-4279 price-list-item">
								Some Feature Information
							</p>
						</li>
						<li>
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon-light.svg') }}" class="img-fluid float-lg-none price-list-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="tc-4279 price-list-item">
								Some Feature Information
							</p>
						</li>
						<li>
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon-light.svg') }}" class="img-fluid float-lg-none price-list-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="tc-4279 price-list-item">
								Some Feature Information
							</p>
						</li>
						<li>
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon-light.svg') }}" class="img-fluid float-lg-none price-list-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="tc-4279 price-list-item">
								Some Feature Information
							</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="text-center text-md-start offset-lg-0 col-lg-4 align-self-center col order-md-1">
				<div class="price-card text-lg-start">
					<p class="text-start page-title text-lg-start tc-458 mb-4">
						$39
					</p>
					<h3 class="text-start text-lg-start tc-458 mb-3">
						Enterprise
					</h3>
					<p class="text-start pricing-info">
						Great for larger teams and enterprise companies.<br>
					</p><a href="../" class="btn btn-lg w-100 btn-c-7096">Get Started</a>
					<ul class="list-unstyled list-sp-md">
						<li class="pt-5">
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon.svg') }}" class="img-fluid float-lg-none price-list-icon dark-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="price-list-item">
								Some Feature Information
							</p>
						</li>
						<li>
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon.svg') }}" class="img-fluid float-lg-none price-list-icon dark-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="price-list-item">
								Some Feature Information
							</p>
						</li>
						<li>
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon.svg') }}" class="img-fluid float-lg-none price-list-icon dark-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="price-list-item">
								Some Feature Information
							</p>
						</li>
						<li>
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon.svg') }}" class="img-fluid float-lg-none price-list-icon dark-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="price-list-item">
								Some Feature Information
							</p>
						</li>
						<li>
							<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/tick-icon.svg') }}" class="img-fluid float-lg-none price-list-icon dark-icon lazyload" alt="cms icon" width="20" height="20">
							<p class="price-list-item">
								Some Feature Information
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- download END -->
{% endblock %}
</main>

<!-- ScrollToTop Button -->
<button aria-label="Scroll to top button" class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/></svg></button>

<!-- ScrollToTop Button END-->

<!-- Additional JS -->
{% block scripts %}
{{ super() }}
<!-- Additional page-specific scripts -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Инициализация анимаций
        new WOW().init();
    });
</script>
{% endblock %}
</body>
</html>