{% extends "base.html" %}

{% block title %}Team{% endblock %}
<main>
{% block content %}
<!-- team -->
<div class="bloc tc-502 bgc-4279 l-bloc" id="team">
	<div class="container bloc-md-sm bloc-md bloc-lg-md">
		<div class="row">
			<div class="text-center col-lg-6 offset-lg-3">
				<h3 class="page-title tc-458 mb-4">
					Наша команда<br>
				</h3>
				<p class="sub-heading mb-4">
					Мы создаем инновационные решения для автоматизированной торговли, сочетая передовые алгоритмы машинного обучения с глубоким пониманием рыночных механизмов.
				</p>
			</div>
		</div>
		<div class="row voffset">
			<div class="col-lg-3 col-md-6 text-center">
				<picture><source type="image/webp" srcset="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-srcset="{{ url_for('static', path='/img/Egor.webp') }}">
					<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/Egor.jpg') }}" class="img-fluid mx-auto d-block lazyload" alt="placeholder user" width="267" height="267"></picture>
				<h3 class="tc-458 mt-3">
					Egor - CEO 
				</h3>
				<p>
					Стратегическое видение, общее руководство
				</p>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<picture><source type="image/webp" srcset="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-srcset="{{ url_for('static', path='/img/John.webp') }}">
					<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/John.jpg') }}" class="img-fluid mx-auto d-block lazyload" alt="placeholder user" width="267" height="267"></picture>
				<h3 class="tc-458 mt-3">
					John - CTO
				</h3>
				<p>
					Архитектура платформы, R&D
				</p>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<picture><source type="image/webp" srcset="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-srcset="{{ url_for('static', path='/img/ZhangLi.webp') }}">
					<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/ZhangLi.jpg') }}" class="img-fluid mx-auto d-block lazyload" alt="placeholder user" width="267" height="267"></picture>
				<h3 class="tc-458 mt-3">
					Zhang Li - Lead Data Scientist
				</h3>
				<p>
					Разработка и обучение торговых моделей ИИ
				</p>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<picture><source type="image/webp" srcset="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-srcset="{{ url_for('static', path='/img/Paul.webp') }}">
					<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/Paul.jpg') }}" class="img-fluid mx-auto d-block lazyload" alt="placeholder user" width="267" height="267"></picture>
				<h3 class="tc-458 mt-3">
					Paul - Senior Algorithm Developer
				</h3>
				<p>
					Создание и оптимизация торговых стратегий
				</p>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<picture><source type="image/webp" srcset="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-srcset="{{ url_for('static', path='/img/Alex.webp') }}">
					<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/Alex.jpg') }}" class="img-fluid mx-auto d-block lazyload" alt="placeholder user" width="267" height="267"></picture>
				<h3 class="tc-458 mt-3">
					Alex - Quantitative Researcher
				</h3>
				<p>
					Математическое моделирование стратегий
				</p>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<picture><source type="image/webp" srcset="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-srcset="{{ url_for('static', path='/img/Helen.webp') }}">
					<img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="{{ url_for('static', path='/img/Helen.jpg') }}" class="img-fluid mx-auto d-block lazyload" alt="placeholder user" width="267" height="267"></picture>
				<h3 class="tc-458 mt-3">
					Helen - Financial Markets Analyst
				</h3>
				<p>
					Анализ рыночных тенденций и рисков
				</p>
			</div>
		</div>
	</div>
</div>
<!-- team END -->

<!-- call-to -->
<div class="bloc tc-426 none bgc-4279 l-bloc" id="call-to">
	<div class="container bloc-xl-lg bloc-md-sm bloc-lg-md bloc-md">
		<div class="row animated fadeInRight" data-appear-anim-style="fadeInRight">
			<div class="col animLoopInfinite">
				<div class="cta-card primary-gradient-bg custom-shadow">
					<div class="row g-0">
						<div class="col-lg-5 col-md-12 text-center text-lg-start feature-col">
							<h2 class="feature-heading tc-4279 mt-md-0 mt-lg-0 mt-3 mb-4 h2-style">
								Мониторинг и управление инвестициями
							</h2>
							<p class="text-center float-lg-none text-lg-start sub-heading tc-426 text-md-start p-10-style">
								В личном кабинете доступен полный контроль над инвестициями:<br>
							</p>
							<ul class="list-style">
								<li>
									<p class="text-md-start p-11-style tc-4279 float-sm-none text-sm-start">
										Реальная статистика доходности
									</p>
								</li>
								<li>
									<p class="text-md-start p-12-style tc-4279 text-sm-start">
										Детализация всех сделок
									</p>
								</li>
								<li>
									<p class="text-md-start p-13-style tc-4279 text-sm-start">
										Настройка рисковых профилей
									</p>
								</li>
								<li>
									<p class="text-md-start p-call-to-style tc-4279 text-sm-start">
										Графики изменения капитала
									</p>
								</li>
								<li>
									<p class="text-md-start p-style tc-4279 text-sm-start">
										Экспорт отчетов в PDF/CSV
									</p>
								</li>
							</ul><a href="./pricing_page/" class="btn white-btn btn-lg btn-c-4279 mt-lg-4 ms-lg-5 mb-lg-5">Начать сейчас</a>
						</div>
						<div class="col-md-12 offset-lg-0 col-lg-7 d-sm-block d-none">
							<picture><source type="image/webp" srcset="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-srcset="{{ url_for('static', path='/img/app-screenshot-hero.webp') }}" ><img src="{{ url_for('static', path='/img/lazyload-ph.png') }}" data-src="img/app-screenshot-hero.jpg" class="img-fluid float-lg-none cta-card-img lazyload" alt="App Screenshot" width="595" height="351"></picture>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- call-to END -->
{% endblock %}
</main>

<!-- ScrollToTop Button -->
<button aria-label="Scroll to top button" class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/></svg></button>

<!-- ScrollToTop Button END-->

<!-- Additional JS -->
{% block scripts %}
{{ super() }}
<!-- Additional page-specific scripts -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Инициализация анимаций
        new WOW().init();
    });
</script>
{% endblock %}
</body>
</html>