{% extends "base.html" %}

{% block title %}Главная - Agent Trade{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="bloc bloc-fill-screen primary-gradient-bg" id="hero">
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-10 animated puffIn" data-appear-anim-style="puffIn">
                <h1 class="hero-heading tc-4279 mb-4 text-lg-center h1-style text-md-center text-sm-center text-center">
                    <span>Торговля с помощью ИИ</span>
                </h1>
                <h3 class="float-none text-center hero-sub-heading h3-style tc-4279">
                    Доверьте свои инвестиции нейросетям нового поколения. Наша система анализирует рынок 24/7 и совершает сделки с максимальной эффективностью.
                </h3>
                <div class="text-center">
                    <a href="./" class="btn btn-rd btn-lg btn-d mt-lg-2 mb-lg-2 pt-lg-3 pb-lg-3">Начать сейчас</a>
                </div>
            </div>
        </div>
    </div>
<div class="container fill-bloc-bottom-edge">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="text-center">
                    <picture><source type="image/webp" srcset="./static/img/lazyload-ph.png" data-srcset="./static/img/app-screenshot-short.webp"><img src="./static/img/lazyload-ph.png" data-src="img/app-screenshot-short.jpg" class="img-fluid mx-auto d-block app-offset-bottom hero-img animated puffIn lazyload" alt="app screenshot-short" data-appear-anim-style="puffIn" width="946" height="552"></picture>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero END -->

<!-- feature-cards -->
<div class="bloc bgc-4279 l-bloc animSpeedFast" id="feature-cards">
<div class="container bloc-lg bloc-xl-lg bloc-lg-sm">
    <div class="row nonein mt-lg-0">
        <div class="col-md-6 col-sm-6 col-lg-5 text-lg-start align-self-end offset-lg-1 animated puffIn" data-appear-anim-style="puffIn">
            <div class="card border-0 feature-card bgc-3202">
                <div class="card-body">
                    <img src="./static/img/lazyload-ph.png" data-src="img/swap-svgrepo-com.svg" class="img-fluid mx-auto d-block feature-icon feature-icon-center img-frame-md lazyload" alt="cms icon" width="22" height="22">
                    <h4 class="text-center tc-458 mt-3 mb-3 btn-resize-mode h4-style">
                        Автоматическая торговля
                    </h4>
                    <p class="text-center">
                        Система самостоятельно совершает сделки на основе прогнозов нейросети
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-5 animated puffIn" data-appear-anim-style="puffIn">
            <div class="card border-0 feature-card bgc-3202">
                <div class="card-body">
                    <img src="./static/img/lazyload-ph.png" data-src="img/analysis-analytics-data-svgrepo-com-2.svg" class="img-fluid mx-auto d-block feature-icon feature-icon-center lazyload" alt="cms icon" width="40" height="40">
                    <h4 class="text-center tc-458 mt-3 mb-3 h4-feature-cards-style">
                        Глубокий анализ
                    </h4>
                    <p class="text-center">
                        Искусственный интеллект анализирует тысячи рыночных показателей
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-5 offset-lg-1 animated puffIn" data-appear-anim-style="puffIn">
            <div class="card bgc-3202 border-0 feature-card">
                <div class="card-body">
                    <img src="./static/img/lazyload-ph.png" data-src="img/captcha-automatic-code-svgrepo-com.svg" class="img-fluid feature-icon feature-icon-center mx-auto img-frame lazyload" alt="cms icon" data-scroll-fx-resistance="10" data-scroll-fx-delay="0" width="30" height="30">
                    <h4 class="text-center tc-458 mt-3 mb-3 h4-feature-cards-style">
                        Безопасность
                    </h4>
                    <p class="text-center">
                        Ваши средства защищены многоуровневой системой безопасности
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-5 offset-lg-0 animated puffIn" data-appear-anim-style="puffIn">
            <div class="card feature-card border-0 bgc-3202">
                <div class="card-body">
                    <img src="./static/img/lazyload-ph.png" data-src="img/support-svgrepo-com-2.svg" class="img-fluid mx-auto d-block feature-icon feature-icon-center lazyload" alt="cms icon" width="40" height="40">
                    <h4 class="text-center tc-458 mt-3 mb-3 h4-feature-cards-style">
                        Поддержка 24/7
                    </h4>
                    <p class="text-center">
                        Круглосуточный мониторинг и техническая поддержка<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- feature-cards END -->

<!-- multiple-features -->
<div class="bloc tc-426 primary-gradient-bg l-bloc" id="multiple-features">
<div class="container bloc-md-sm bloc-lg-md bloc-lg-lg bloc-md">
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center text-sm-start none animated zoomIn" data-appear-anim-style="zoomIn">
            <h2 class="feature-heading tc-4279 mb-4">
                Как это работает?
            </h2>
            <p class="sub-heading tc-426 mb-4">
                Наша нейросетевая платформа использует комбинацию глубинного обучения и анализа больших данных для прогнозирования рынка. Каждый этап процесса оптимизирован для максимизации прибыли при минимальных рисках.
            </p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 text-center text-sm-start feature-col animated bounceIn" data-appear-anim-style="bounceIn">
            <h4 class="tc-4279 mt-3 mb-3">
                1. Ввод средств
            </h4>
            <p class="tc-426">
                Подключите криптовалютный кошелек или воспользуйтесь банковской картой для депозита. Минимальная сумма инвестиций - $50. <br>Все транзакции защищены SSL-шифрованием.
            </p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 text-center text-sm-start feature-col animated bounceIn" data-appear-anim-style="bounceIn">
            <h4 class="tc-4279 mt-3 mb-3">
                2. Анализ рынка
            </h4>
            <p class="tc-426">
                Наша LSTM-нейросеть анализирует в реальном времени:<br>• Исторические данные<br>• Объемы торгов<br>• Новостной фон<br>• Социальные тренды<br>• Цепные реакции рынка<br>
            </p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 text-center text-sm-start feature-col animated bounceIn" data-appear-anim-style="bounceIn">
            <h4 class="tc-4279 mt-3 mb-3">
                3. Автоторговля
            </h4>
            <p class="tc-426">
                Система совершает сделки через API-интеграции с топовыми биржами (Binance, Coinbase, OKX). <br>Используются стратегии:<br>• Арбитражные сделки<br>• Скальпинг<br>• Трендовая торговля<br>• Mean reversion<br><br>
            </p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 text-center text-sm-start feature-col animated bounceIn" data-appear-anim-style="bounceIn">
            <h4 class="tc-4279 mt-3 mb-3">
                4. Вывод прибыли
            </h4>
            <p class="tc-426">
                Выводите средства в любой момент через удобный интерфейс. <br>Комиссия на вывод - 0.5%. <br>Ежедневная отчетность и детальная аналитика всех сделок в личном кабинете.
            </p>
        </div>
    </div>
</div>
</div>
<!-- multiple-features END -->

<!-- call-to -->
<div class="bloc tc-426 none bgc-4279 l-bloc" id="call-to">
<div class="container bloc-xl-lg bloc-md-sm bloc-lg-md bloc-md">
    <div class="row animated fadeInRight" data-appear-anim-style="fadeInRight">
        <div class="col animLoopInfinite">
            <div class="cta-card primary-gradient-bg custom-shadow">
                <div class="row g-0">
                    <div class="col-lg-5 col-md-12 text-center text-lg-start feature-col">
                        <h2 class="feature-heading tc-4279 mt-md-0 mt-lg-0 mt-3 mb-4 h2-style">
                            Мониторинг и управление инвестициями
                        </h2>
                        <p class="text-center float-lg-none text-lg-start sub-heading tc-426 text-md-start p-10-style">
                            В личном кабинете доступен полный контроль над инвестициями:<br>
                        </p>
                        <ul class="list-style">
                            <li>
                                <p class="text-md-start p-11-style tc-4279 float-sm-none text-sm-start ">
                                    Реальная статистика доходности
                                </p>
                            </li>
                            <li>
                                <p class="text-md-start p-12-style tc-4279 text-sm-start">
                                    Детализация всех сделок
                                </p>
                            </li>
                            <li>
                                <p class="text-md-start p-13-style tc-4279 text-sm-start">
                                    Настройка рисковых профилей
                                </p>
                            </li>
                            <li>
                                <p class="text-md-start p-call-to-style tc-4279 text-sm-start">
                                    Графики изменения капитала
                                </p>
                            </li>
                            <li>
                                <p class="text-md-start p-style tc-4279 text-sm-start">
                                    Экспорт отчетов в PDF/CSV
                                </p>
                            </li>
                        </ul><a href="./pricing/" class="btn white-btn btn-lg btn-c-4279 mt-lg-4 ms-lg-5 mb-lg-5">Начать сейчас</a>
                    </div>
                    <div class="col-md-12 offset-lg-0 col-lg-7 d-sm-block d-none">
                        <picture><source type="image/webp" srcset="./static/img/lazyload-ph.png" data-srcset="img/app-screenshot-hero.webp"><img src="img/lazyload-ph.png" data-src="img/app-screenshot-hero.jpg" class="img-fluid float-lg-none cta-card-img lazyload" alt="App Screenshot" width="595" height="351"></picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- call-to END -->

<!-- ScrollToTop Button -->
<button aria-label="Scroll to top button" class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/></svg></button>
<!-- ScrollToTop Button END-->


{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Additional page-specific scripts -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Инициализация анимаций
        new WOW().init();
    });
</script>
{% endblock %}